.titulo {
  display: flex;
  align-items: center; /* Centra verticalmente */
  gap: 10px; /* Espacio entre texto e imagen */
}

.titulo .imagen {
  order: 2; /* Opcional, fuerza que la imagen vaya al final */
  width: 100px; /* Ajusta tamaño */
  height: 100px;
}

.caja{
    border: solid 1px;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
}